
    <div class="modal-wrapper">
        <button class="modal-close-btn">
            <svg class="close-icon" width="17" height="17">
                <use href="./images/sprite.svg#icon-close-1"></use>
            </svg>
        </button>

        <img src="{{image}}" alt="" class="modal-icon" />

        <div class="modal-flex">
            <img src="{{image}}" alt="" class="modal-img" />

            <div class="main-info">
                <div>
                    <h2 class="title-modal">info</h2>
                    <p>
                        {{info}}
                    </p>
                </div>

                <div>
                    <h2 class="title-modal">when</h2>
                    <p>{{datetimeFormat date 'yyyy-mm-dd'}}</p>
                    <p>{{datetimeFormat date 'HH:MM'}} ({{country}}/{{city}})</p>
                </div>

                <div>
                    <h2 class="title-modal">where</h2>
                    <p>{{place}}</p>
                </div>

                <div>
                    <h2 class="title-modal">who</h2>
                    <p class="who">{{name}}</p>
                </div>

                <div>
                    <h2 class="title-modal">prices</h2>
                    <div class="buy-tickets">
                        <p class="ticket-standart ticket">{{type}} {{priceRanges.min}} - {{priceRanges.max}} {{priceRanges.currency}}</p>
                        <button class="modal-btn btn-buy">BUY TICKETS</button>
                    </div>

                    <div>
                        <p class="ticket-vip ticket">VIP 1000-1500 UAH</p>
                        <button class="modal-btn btn-buy">BUY TICKETS</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="modal-btn more-btn">MORE FROM THIS AUTHOR</button>
    </div>
