{{#each this}}
<li class="card-item" data-id='{{id}}'>
    <div class="card-image">
      <img src="{{image}}" alt="event image" loading="lazy" width="180" height="auto">
   </div>

    <div class="description">
       <h2 class="card-name">{{name}}</h2>
       <p class="card-date">{{date}}</p>
       <p class="card-place">
          <svg>
             <use href="./images/sprite.svg#icon-map" width="6" height="9"></use>
          </svg>
            {{name}}
       </p>

    </div>
</li>

{{/each}}
